/////////////////////////////////////////// COLORS ///////////////////////////////////////////

$color-grey: #eeeeee;
$color-grey-md: #bbbbbb;
$color-blue: #050373;
$color-vetek: #050373;
$color-green: #057213;
$color-blue-50: rgba(5,3,115,0.5);
$color-more-blue: #140AF7;
$color-light-blue: #0905CC;
$color-dark-blue: #030240;
$color-red: #cc0000;
$color-text-grey: #666666;
/*$color-black: rgba(0,0,0,0.1);*/
$color-black: #d6d6d6;
$color-required: rgba(120,0,0,0.3);

/////////////////////////////////////////// site specific colors ///////////////////////////////////////////

$color-hackgsu: #161616;
$color-hackgsu-blue: #0039A6;
$color-myintro: #27aae1;
$color-myintro-item: #31acde;
$color-myintro-light-blue: #a1daf0;
$color-myintro-dark: #1175B8;
$color-expresso: #6a50ee;
$color-dccontrol: #8cc63e;
$color-scrboard: #0b234f;
$color-scrboard-blue: #3bb3f4;
$color-scrboard-green: #31bd30;

/////////////////////////////////////////// END COLORS ///////////////////////////////////////////

$color-feed-red: #EF5350;
$color-feed-blue: #42A5F5;
$color-feed-green: #26A69A;
$color-feed-yellow: #C6FF00;
$color-feed-teal: #26C6DA;
$color-feed-peach: #FF7043;
$color-feed-orange: #FFA726;
$color-feed-purple: #7E57C2;


$color-facebook: #3b5998;